<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="EmailAddress" value=""/>
    <add key="Password" value=""/>
    <add key="BotToken" value="MjIwOTc3NTEzNzkzNDU0MDgz.Cqyt6w.1jKG9tdjvkj5IXThPHmzagVQQ8I"/>
    <add key="ClientID" value="220977513793454083"/>
    <add key="ServerID" value="210510987189682176"/>
    <add key="DiscordURL" value="https://discord.gg/GTUbKSZ"/>
    <add key="DefaultChan" value="general"/>
    <add key="CurrentGame" value ="Pokémon GO™"/>
    <add key="AnnouncerInterval" value="1800000"/>
  </appSettings>
</configuration>