<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="EmailAddress" value=""/>
    <add key="Password" value=""/>
    <add key="ClientToken" value="Rk1guIslJH6MSk3i4XvZ7VcqRSSSi5hd"/>
    <add key="BotToken" value="MjIwMDY1OTQxMDY3NzkyMzg0.CrYoeg.MrMfqhE9K9Q1BH4zJeY5hk7J5CQ"/>
    <add key="ClientID" value="220396497009770497"/>
    <add key="ServerID" value="219997138841632769"/>
    <add key="DiscordURL" value="https://discord.gg/GTUbKSZ"/>
    <add key="DefaultChan" value="general"/>
    <add key="CurrentGame" value ="Pokémon GO™"/>
  </appSettings>
</configuration>