<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="EmailAddress" value=""/>
    <add key="Password" value=""/>
    <add key="BotToken" value="MjIwMDY1OTQxMDY3NzkyMzg0.CqmyOw.OwaNjv6qUbTcFhwl3rxw1hWWQf4"/>
    <add key="ClientID" value="220065941067792384"/>
    <add key="ServerID" value="210510987189682176"/>
    <add key="DiscordURL" value="https://discord.gg/GTUbKSZ"/>
    <add key="DefaultChan" value="general"/>
    <add key="CurrentGame" value ="Pokémon GO™"/>
  </appSettings>
</configuration>